<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Carbon-SPI-Hook-Test-Suite">

    <test name="carbon-spi-hook-unit-tests">
        <classes>
            <class name="org.wso2.osgi.spi.bundle.test.ServiceBundleTrackerTest" />
        </classes>
    </test>
</suite>
